#heading{
    color: red;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
}
.logo img{
    width: 100px;
}
.nav-item ul{
    display: flex;
    justify-content: end;
    list-style-type: none;
}
.nav-item ul li{
    padding: 0px 25px;
}
.rest-card{
    width: 200px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid transparent;
    margin: 5px;
}
.rest-card:hover{
    border: 1px solid #000;
}
.rest-card img{
    max-width: 100%;
}
.rest-card h4,h3{
    margin-bottom: 10px;
    margin-top: 10px;
}
.resturant-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}